.logo {
  color: var(--accent-link-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-continuation-footer {
  color: var(--alternative-text-decoration-color);
}

.logo-continuation-header {
  color: var(--text-decoration-color);
}
