.footer {
  padding: 60px 0;
  background: var(--secondary--backgraund--color);
  color: var(--alternative-text-decoration-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-container-address {
  flex-grow: 1;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 20px 0 0;
}

.conection {
  color: var(--footer-contact-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;
}

.footer-item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-contact-map {
  color: var(--alternative-text-decoration-color);
}

.footer-container-socials {
  margin-left: 70px;
}

.footer-container-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--alternative-text-decoration-color);
}

.footer-contacts .conection:hover,
.footer-contacts .conection:focus {
  color: var(--accent-link-color);
}

.footer-section-list {
  display: flex;
}

.footer-section-link {
  background-color: var(--footer-icon-bgcolor);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-link-color);
    border-radius: 50%;
  }
  &:hover .footer-social-icon,
  &:focus .footer-social-icon {
    fill: var(--alternative-text-decoration-color);
  }
}

.footer-social-icon {
  fill: var(--alternative-text-decoration-color);
}

.footer-section-item + .footer-section-item {
  margin-left: 10px;
}

.footer-container-subscribe {
  margin-left: 93px;
}

.button-input {
  display: flex;
  align-items: end;
  margin-top: 20px;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--accent-link-color);
  color: var(--alternative-text-decoration-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subscribe-form input {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary--backgraund--color);
  margin-right: 12px;
  color: var(--footer-contact-text-color);
  padding-left: 16px;
  &::placeholder {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
