:root {
  --secondary--backgraund--color: #2f303a;
  --portfolio-background-color: #f5f4fa;
  --primery-text-decoration-color: #757575;
  --text-decoration-color: #000000;
  --hover-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --alternative-text-decoration-color: #fff;
  --hero--backgraund--color: rgba(47, 48, 58, 0.4);
  --apper-image-title-text: rgba(47, 48, 58, 0.8);
  --footer-icon-bgcolor: rgba(255, 255, 255, 0.1);
  --main-link-color: #212121;
  --accent-link-color: #2196f3;
  --accent-icon-color: #afb1b8;
  --heater-contact-text-color: #757575;
  --footer-contact-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}
