.team-section {
  background: var(--portfolio-background-color);
}

.team-section-list {
  display: flex;
}

.team-list-item:first-child {
  margin-left: 0;
}

.team-list-item {
  background-color: var(--alternative-text-decoration-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 0 0 30px;
}

.team-presection {
  padding: 30px 0;
  border: 1px solid var(--border-color);
  border-top: none;
}

.team-section .text {
  color: var(--primery-text-decoration-color);
}

.team-section-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-section-list {
  display: flex;
  justify-content: center;
}

.team-section-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-section-item,
.team-section-link {
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-item:hover,
.team-section-lin k:focus {
  background-color: var(--accent-link-color);
  border-radius: 50%;
}

.team-section-item:hover .team-social-icon,
.team-section-link:focus .team-social-icon {
  fill: var(--alternative-text-decoration-color);
}

.team-social-icon {
  fill: var(--accent-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section-item + .team-section-item {
  margin-left: 10px;
}
